Repository RE-FOOD/BE, pull requests merged in 2025-08, with the labels that each got.

#9 Feature/8 swagger add
  README.md
  build.gradle
  src/main/java/com/iitp/domains/store/controller/command/StoreController.java
  src/main/java/com/iitp/domains/store/domain/Store.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
Labels: documentation

#13 [FEATURE] 초기 설정 수정 및 공통 모듈 추가
  build.gradle
  src/main/java/com/iitp/global/HealthCheckController.java
  src/main/java/com/iitp/global/aspect/LoggerAspect.java
  src/main/java/com/iitp/global/common/constants/BusinessLogicConstants.java
  src/main/java/com/iitp/global/config/querydsl/QuerydslConfig.java
  src/main/java/com/iitp/global/config/swagger/SwaggerConfig.java
  src/main/java/com/iitp/global/exception/ConflictException.java
  src/main/java/com/iitp/global/exception/ForbiddenException.java
  src/main/java/com/iitp/global/exception/handler/GlobalExceptionHandler.java
  src/main/java/com/iitp/global/util/client/ClientIPAddressUtil.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application.yml
Labels: 🛠 development

#17 Refactor/16 store cache
  .gitignore
  build.gradle
  src/main/java/com/iitp/domains/store/dto/response/StoreDetailResponse.java
  src/main/java/com/iitp/domains/store/service/command/MenuCommandService.java
  src/main/java/com/iitp/domains/store/service/command/StoreCommandService.java
  src/main/java/com/iitp/domains/store/service/query/StoreQueryService.java
  src/main/java/com/iitp/global/config/RedisConfig.java
  src/main/java/com/iitp/global/redis/service/StoreCacheService.java
Labels: 🏠 store, 🛠 development

#20 Feature/6 OAuth 회원가입 및 로그인 구현
  build.gradle
  src/main/java/com/iitp/domains/auth/controller/command/AuthCommandControoler.java
  src/main/java/com/iitp/domains/auth/dto/requestDto/MemberLogInRequestDto.java
  src/main/java/com/iitp/domains/auth/dto/requestDto/MemberSignupRequestDto.java
  src/main/java/com/iitp/domains/auth/dto/requestDto/StoreSignupRequestDto.java
  src/main/java/com/iitp/domains/auth/dto/requestDto/TokenRefreshRequestDto.java
  src/main/java/com/iitp/domains/auth/dto/responseDto/MemberLogInResponseDto.java
  src/main/java/com/iitp/domains/auth/dto/responseDto/MemberSignupResponseDto.java
  src/main/java/com/iitp/domains/auth/dto/responseDto/StoreSignupResponseDto.java
  src/main/java/com/iitp/domains/auth/dto/responseDto/TokenRefreshResponseDto.java
  src/main/java/com/iitp/domains/auth/service/command/AuthCommandService.java
  src/main/java/com/iitp/domains/member/controller/TestController.java
  src/main/java/com/iitp/domains/member/controller/command/BusinessCommandController.java
  src/main/java/com/iitp/domains/member/controller/command/MemberCommandController.java
  src/main/java/com/iitp/domains/member/controller/query/MemberQueryController.java
  src/main/java/com/iitp/domains/member/domain/EnvironmentLevel.java
  src/main/java/com/iitp/domains/member/domain/JoinType.java
  src/main/java/com/iitp/domains/member/domain/PayType.java
  src/main/java/com/iitp/domains/member/domain/Role.java
  src/main/java/com/iitp/domains/member/domain/entity/Location.java
  src/main/java/com/iitp/domains/member/domain/entity/Member.java
  src/main/java/com/iitp/domains/member/dto/KakaoUserInfoDto.java
  src/main/java/com/iitp/domains/member/dto/responseDto/LocationResponseDto.java
  src/main/java/com/iitp/domains/member/repository/LocationRepository.java
  src/main/java/com/iitp/domains/member/repository/LocationRepositoryCustom.java
  src/main/java/com/iitp/domains/member/repository/LocationRepositoryImpl.java
  src/main/java/com/iitp/domains/member/repository/MemberRepository.java
  src/main/java/com/iitp/domains/member/repository/MemberRepositoryCustom.java
  src/main/java/com/iitp/domains/member/repository/MemberRepositoryImpl.java
  src/main/java/com/iitp/domains/member/service/command/EmailCreateService.java
  src/main/java/com/iitp/domains/member/service/command/MemberCommandService.java
  src/main/java/com/iitp/domains/member/service/query/MemberQueryService.java
  src/main/java/com/iitp/global/config/security/KakaoApiClient.java
  src/main/java/com/iitp/global/config/security/MemberPrincipal.java
  src/main/java/com/iitp/global/config/security/SecurityConfig.java
  src/main/java/com/iitp/global/config/security/SecurityUtil.java
  src/main/java/com/iitp/global/exception/ExceptionMessage.java
  src/main/java/com/iitp/global/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/iitp/global/jwt/JwtAuthenticationFilter.java
  src/main/java/com/iitp/global/jwt/JwtUtil.java
  src/main/resources/application-dev.yml
  src/main/resources/application.yml
  src/main/resources/static/images/refood-logo.png
  src/main/resources/static/login.html
Labels: 👤 member

#25 Feature/6 oauth 로그인 응답 구조 개선 및 중복확인 API 삭제
  src/main/java/com/iitp/domains/auth/controller/command/AuthCommandControoler.java
  src/main/java/com/iitp/domains/auth/dto/requestDto/FcmTokenUpdateRequestDto.java
  src/main/java/com/iitp/domains/auth/dto/requestDto/MemberLogInRequestDto.java
  src/main/java/com/iitp/domains/auth/dto/responseDto/LoginResponseDto.java
  src/main/java/com/iitp/domains/auth/service/command/AuthCommandService.java
  src/main/java/com/iitp/domains/member/controller/command/MemberCommandController.java
  src/main/java/com/iitp/domains/member/controller/query/MemberQueryController.java
  src/main/java/com/iitp/domains/member/dto/requestDto/FcmTokenUpdateRequestDto.java
  src/main/java/com/iitp/domains/member/dto/requestDto/LocationCreateRequestDto.java
  src/main/java/com/iitp/domains/member/dto/responseDto/LocationResponseDto.java
  src/main/java/com/iitp/domains/member/dto/responseDto/MemberProfileResponseDto.java
  src/main/java/com/iitp/domains/member/repository/MemberRepository.java
  src/main/java/com/iitp/domains/member/service/command/MemberCommandService.java
  src/main/java/com/iitp/domains/member/service/query/MemberQueryService.java
Labels: 👤 member

#21 Feature/19 mypage 추가
  src/main/java/com/iitp/domains/auth/dto/responseDto/LoginResponseDto.java
  src/main/java/com/iitp/domains/auth/dto/responseDto/MemberSignupResponseDto.java
  src/main/java/com/iitp/domains/auth/dto/responseDto/StoreSignupResponseDto.java
  src/main/java/com/iitp/domains/auth/dto/responseDto/TokenRefreshResponseDto.java
  src/main/java/com/iitp/domains/auth/service/command/AuthCommandService.java
  src/main/java/com/iitp/domains/member/controller/TestController.java
  src/main/java/com/iitp/domains/member/controller/command/BusinessCommandController.java
  src/main/java/com/iitp/domains/member/controller/command/MemberCommandController.java
  src/main/java/com/iitp/domains/member/controller/query/EnvironmentQueryController.java
  src/main/java/com/iitp/domains/member/controller/query/MypageQueryController.java
  src/main/java/com/iitp/domains/member/domain/BusinessApprovalStatus.java
  src/main/java/com/iitp/domains/member/domain/entity/Member.java
  src/main/java/com/iitp/domains/member/dto/requestDto/MemberUpdateNicknameRequestDto.java
  src/main/java/com/iitp/domains/member/dto/responseDto/EnvironmentResponseDto.java
  src/main/java/com/iitp/domains/member/dto/responseDto/LocationResponseDto.java
  src/main/java/com/iitp/domains/member/dto/responseDto/MemberProfileResponseDto.java
  src/main/java/com/iitp/domains/member/dto/responseDto/MemberUpdateNicknameResponseDto.java
  src/main/java/com/iitp/domains/member/dto/responseDto/MyPageResponseDto.java
  src/main/java/com/iitp/domains/member/service/command/MemberCommandService.java
  src/main/java/com/iitp/domains/member/service/query/EnvironmentQueryService.java
  src/main/java/com/iitp/domains/member/service/query/MemberQueryService.java
  src/main/java/com/iitp/domains/member/service/query/MypageQueryService.java
  src/main/java/com/iitp/global/exception/ExceptionMessage.java
  src/main/resources/static/login.html
  src/main/resources/static/mypage.html
  src/main/resources/static/nicknameEdit.html
Labels: 👤 member

#29 [CICD] 배포 자동화
  .github/workflows/deploy-dev.yml
  .gitignore
  Dockerfile
  build.gradle
  src/main/resources/application-dev.yml
  src/main/resources/application.yml
Labels: 🛠 development

#36 Feature/18 cart crud
  src/main/java/com/iitp/domains/cart/controller/command/CartCommandController.java
  src/main/java/com/iitp/domains/cart/controller/query/CartQueryController.java
  src/main/java/com/iitp/domains/cart/domain/entity/Cart.java
  src/main/java/com/iitp/domains/cart/domain/entity/CartMenu.java
  src/main/java/com/iitp/domains/cart/domain/entity/CartMenuId.java
  src/main/java/com/iitp/domains/cart/dto/CartMenuRedisDto.java
  src/main/java/com/iitp/domains/cart/dto/CartRedisDto.java
  src/main/java/com/iitp/domains/cart/dto/request/CartCreateRequest.java
  src/main/java/com/iitp/domains/cart/dto/request/CartUpdateRequest.java
  src/main/java/com/iitp/domains/cart/dto/response/CartMenuResponse.java
  src/main/java/com/iitp/domains/cart/dto/response/CartResponse.java
  src/main/java/com/iitp/domains/cart/repository/CartRepository.java
  src/main/java/com/iitp/domains/cart/repository/CartRepositoryCustom.java
  src/main/java/com/iitp/domains/cart/repository/CartRepositoryImpl.java
  src/main/java/com/iitp/domains/cart/service/command/CartCommandService.java
  src/main/java/com/iitp/domains/cart/service/query/CartQueryService.java
  src/main/java/com/iitp/domains/store/controller/command/StoreCommandController.java
  src/main/java/com/iitp/domains/store/domain/entity/Menu.java
  src/main/java/com/iitp/domains/store/domain/entity/Store.java
  src/main/java/com/iitp/domains/store/dto/request/MenuCreateRequest.java
  src/main/java/com/iitp/domains/store/dto/request/MenuUpdateRequest.java
  src/main/java/com/iitp/domains/store/dto/request/StoreCreateRequest.java
  src/main/java/com/iitp/domains/store/dto/response/MenuListResponse.java
  src/main/java/com/iitp/domains/store/dto/response/MenuResponse.java
  src/main/java/com/iitp/domains/store/repository/mapper/MenuListQueryResult.java
  src/main/java/com/iitp/domains/store/repository/mapper/StoreListQueryResult.java
  src/main/java/com/iitp/domains/store/repository/menu/MenuRepositoryImpl.java
  src/main/java/com/iitp/domains/store/repository/store/StoreRepositoryImpl.java
  src/main/java/com/iitp/domains/store/service/command/MenuCommandService.java
  src/main/java/com/iitp/domains/store/service/command/StoreCommandService.java
  src/main/java/com/iitp/domains/store/service/query/MenuQueryService.java
  src/main/java/com/iitp/domains/store/service/query/StoreQueryService.java
  src/main/java/com/iitp/global/exception/ExceptionMessage.java
  src/main/java/com/iitp/global/redis/service/CartRedisService.java
  src/main/java/com/iitp/global/redis/service/StoreRedisService.java
Labels: 🛠 development, 🛒 cart

#47 [FEATURE] 주소 CRUD 기능 구현
  src/main/java/com/iitp/domains/member/controller/command/LocationCommandController.java
  src/main/java/com/iitp/domains/member/controller/query/LocationQueryController.java
  src/main/java/com/iitp/domains/member/dto/requestDto/LocationCreateRequestDto.java
  src/main/java/com/iitp/domains/member/repository/LocationRepository.java
  src/main/java/com/iitp/domains/member/service/command/LocationCommandService.java
  src/main/java/com/iitp/domains/member/service/query/LocationQueryService.java
Labels: 👤 member

#23 [FEATURE] 찜 토글 기능 & 찜한 가게 목록 조회
  src/main/java/com/iitp/domains/favorite/controller/FavoriteController.java
  src/main/java/com/iitp/domains/favorite/domain/entity/Favorite.java
  src/main/java/com/iitp/domains/favorite/dto/Response/FavoriteToggledResponse.java
  src/main/java/com/iitp/domains/favorite/repository/FavoriteRepository.java
  src/main/java/com/iitp/domains/favorite/service/command/FavoriteCommandService.java
  src/main/java/com/iitp/domains/favorite/service/query/FavoriteQueryService.java
  src/main/java/com/iitp/domains/map/service/query/MapQueryService.java
  src/main/java/com/iitp/domains/member/domain/entity/Member.java
  src/main/java/com/iitp/domains/member/service/query/LocationQueryService.java
  src/main/java/com/iitp/domains/member/service/query/MemberQueryService.java
  src/main/java/com/iitp/domains/review/controller/query/ReviewQueryController.java
  src/main/java/com/iitp/domains/review/repository/ReviewRepositoryCustom.java
  src/main/java/com/iitp/domains/review/repository/ReviewRepositoryImpl.java
  src/main/java/com/iitp/domains/review/repository/mapper/ReviewAggregationResult.java
  src/main/java/com/iitp/domains/review/service/query/ReviewQueryService.java
  src/main/java/com/iitp/domains/store/controller/query/StoreQueryController.java
  src/main/java/com/iitp/domains/store/domain/entity/Store.java
  src/main/java/com/iitp/domains/store/dto/response/StoreDetailResponse.java
  src/main/java/com/iitp/domains/store/dto/response/StoreListResponse.java
  src/main/java/com/iitp/domains/store/repository/mapper/StoreListQueryResult.java
  src/main/java/com/iitp/domains/store/repository/store/StoreRepositoryCustom.java
  src/main/java/com/iitp/domains/store/repository/store/StoreRepositoryImpl.java
  src/main/java/com/iitp/domains/store/service/query/StoreQueryService.java
  src/main/java/com/iitp/global/common/response/TwoWayCursorListResponse.java
  src/main/java/com/iitp/global/config/security/SecurityConfig.java
  src/main/java/com/iitp/global/redis/service/RedisGeoInitService.java
  src/main/java/com/iitp/global/redis/service/RedisGeoService.java
  src/main/java/com/iitp/global/util/query/QueryExpressionFormatter.java
Labels: ♥ 가게 찜

#95 Feature/94 store order list
  src/main/java/com/iitp/domains/member/service/EnvironmentRewardService.java
  src/main/java/com/iitp/domains/order/domain/entity/Order.java
  src/main/java/com/iitp/domains/order/dto/response/OrderListResponse.java
  src/main/java/com/iitp/domains/order/repository/OrderRepositoryCustom.java
  src/main/java/com/iitp/domains/order/repository/OrderRepositoryImpl.java
  src/main/java/com/iitp/domains/order/service/query/OrderQueryService.java
  src/main/java/com/iitp/domains/payment/controller/PaymentController.java
  src/main/java/com/iitp/domains/payment/domain/Payment.java
  src/main/java/com/iitp/domains/payment/dto/PaymentRewardDto.java
  src/main/java/com/iitp/domains/payment/dto/response/PaymentConfirmResponse.java
  src/main/java/com/iitp/domains/payment/service/PaymentService.java
  src/main/java/com/iitp/domains/store/controller/command/StoreCommandController.java
  src/main/java/com/iitp/domains/store/controller/query/StoreQueryController.java
  src/main/java/com/iitp/domains/store/dto/response/StoreOrderListResponse.java
  src/main/java/com/iitp/domains/store/repository/store/StoreRepositoryCustom.java
  src/main/java/com/iitp/domains/store/repository/store/StoreRepositoryImpl.java
  src/main/java/com/iitp/domains/store/service/command/StoreCommandService.java
  src/main/java/com/iitp/domains/store/service/query/StoreQueryService.java
Labels: 💰 Pay
